﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
</head>

<body>
    <header class="fixed">
        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="img-fluid mainphoto" src="~/Content/NationalParkService-Logo.png" alt="National Park logo" />
            </div>
            <div class="col-sm-9">
                <nav class="row">
                    <a class="col-sm-3 text-center btn btn-outline-info" id="navbtn" href="~/Home">Home</a>
                    <a class="col-sm-3 text-center btn btn-outline-info" id="navbtn" href="~/Home/Survey">Survey</a>
                    <a class="col-sm-3 text-center btn btn-outline-info" id="navbtn" href="~/Home/FavoritePark">Popular Parks</a>
                </nav>
                <div class="row" id="explore">
                    <h2 class="col-sm-9 explore text-center">Explore Our Nation's Beautiful National Parks</h2>
                </div>
            </div>
        </div>
    </header>
    <section class="centeredPanel">
        <div class="main_body">
            @RenderBody()
        </div>
    </section>
</body>
</html>