﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WeatherSqlDAL weatherDAL = new WeatherSqlDAL();
    List<WeatherModel> list = weatherDAL.GetWeather();
}
@using Capstone.Web.Models;
@using Capstone.Web.DAL;
@using System.Collections.Generic;
@model ParkModel



<div>
    @{string image = "../../Content/" + Model.ParkCode + ".jpg";}
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid park_image" id="park_img" src="@image" alt="@Model.ParkCode" />
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12 detail_info" id="name">@Model.ParkName</div>
            </div>
            <div class="row">
                <div class="col-sm-4 detail_info">@Model.State</div>
                <div class="col-sm-4 detail_info">Founded: @Model.YearFounded</div>
            </div>
            <div class="row">
                <div class="col-sm-4 detail_info">Entry Fee: $@Model.EntryFee</div>
                <div class="col-sm-4 detail_info">Campsites: @Model.NumberOfSites</div>
                <div class="col-sm-4 detail_info">Miles of Trail: @Model.MilesOfTrail</div>
            </div>
            <div class="row">
                <div class="col-sm-4 detail_info">Total Acreage: @Model.Acres</div>
                <div class="col-sm-4 detail_info">Elevation ASL: @Model.Elevation</div>
                <div class="col-sm-4 detail_info">Climate: @Model.Climate</div>
            </div>
            <div class="row">
                <div class="col-sm-12 detail_info" id="description">@Model.ParkDescription</div>
            </div>
            <div class="row">
                <div class="col-sm-12 detail_info">"@Model.Quote"</div>
                <div class="row">
                    <div class="col-sm-12 detail_info"id="quote_source">~ @Model.QuoteSource</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 detail_info">Annual Visitors: @Model.AnnualVisitors</div>
                <div class="col-sm-6 detail_info">Animal Species to See: @Model.AnimalSpecies</div>
            </div>
        </div>
    </div>
</div>
<div class="row weather">
    @foreach (WeatherModel item in list)
    {
        if (item.ParkCode == Model.ParkCode)
        {
            <div class="col-sm-2">
                @if (item.Forecast == "sunny")
                {
                    <div><img class="img-fluid weather_image" src="~/Content/sunny.png" /></div>
                    <div>Make sure to pack some sun-block!</div>
                }
                else if (item.Forecast == "rain")
                {
                    <div><img class="img-fluid weather_image" src="~/Content/rain.png" /></div>
                    <div>Make sure to pack an umbrella!</div>
                }
                else if (item.Forecast == "partly cloudy")
                {
                    <div><img class="img-fluid weather_image" src="~/Content/partly Cloudy.png" /></div>
                }
                else if (item.Forecast == "thunderstorms")
                {
                    <div><img class="img-fluid weather_image" src="~/Content/thunderstorms.png" /></div>
                    <div>Make sure to seek shelter and avoid hiking on exposed ridges!</div>
                }
                else if (item.Forecast == "snow")
                {
                    <div><img class="img-fluid weather_image" src="~/Content/snow.png" /></div>
                    <div>Make sure to pack snow shoes!</div>
                }
                else if (item.Forecast == "cloudy")
                {
                    <div><img class="img-fluid weather_image" src="~/Content/cloudy.png" /></div>
                }
                <div>Today's Forecast: @item.Forecast</div>
                @if (Model.IsFahrenheit == "0")
                {
                    <div>Today's Low: @item.Low</div>
                }
                else if (Model.IsFahrenheit == "1")
                {
                    int temp = (int)((item.Low - 32) / 1.8);
                    <div>Today's Low: @temp</div>
                }

                @if (item.Low < 20)
                {
                    <div>There are dangers from exposure to low temperatures!</div>
                }
                @if (Model.IsFahrenheit == "0")
                {
                    <div>Today's High: @item.High</div>
                }
                else if (Model.IsFahrenheit == "1")
                {
                    int temp = (int)((item.High - 32) / 1.8);
                    <div>Today's High: @temp</div>
                }
                @if (item.High > 75)
                {
                    <div>Bring an extra gallon of water on your hike today!</div>
                }
                @if ((item.High - item.Low) > 20)
                {
                    <div>Wear breathable layers!</div>
                }

            </div>
        }
    }
</div>
<div class="row">
    <div class="col-sm-1 ForC">
        @using (Html.BeginForm("Detail", "Home", FormMethod.Post))
        {
            <div class="dropdown">
                @Html.DropDownListFor(m => m.IsFahrenheit, ParkModel.MaybeCelcius(), new { onchange = "this.form.submit()" })
            </div>
        }
    </div>
</div>
