﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model List<ParkModel>


<div>Our most popular parks: </div>
<div>
    @foreach (var p in Model)
    {
        string image = "../../Content/" + p.ParkCode + ".jpg";
        <div class="row img_row">
            @{string imgLink = "../Home/Detail/" + @p.ParkCode;}
            <div class="col-sm-4"><a href=@imgLink><img class="img-fluid park_image" src="@image" alt="@p.ParkCode" id="ProductImage" /></a></div>
            <div class="col-sm-7 non_image">
                <div class="fav_name">@p.ParkName</div>
                <div>Number of votes: @p.FavoriteCount</div>
            </div>
        </div>
    }
</div>
