﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models

@model List<ParkModel>

<div>
    @foreach (var park in Model)
    {
        <div class="row home_row">
            @{string image = "../../Content/" + park.ParkCode + ".jpg";}
            @{string imgLink = "../Home/Detail/" + @park.ParkCode;}
            <div class="col-sm-4"><a href=@imgLink><img class="img-fluid park_image" src="@image" alt="@park.ParkCode" id="ProductImage" /></a></div>
            <div class="col-sm-7">
                <div class="bold">@park.ParkName</div>
                <div class="state">@park.State</div>
                <div>@park.ParkDescription</div>
            </div>
        </div>
    }
</div>

