﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ParkModel pm = new ParkModel();
    SurveyModel sm = new SurveyModel();
}

@using Capstone.Web.Models

@model SurveyModel

@using (Html.BeginForm("FavoritePark", "Home", FormMethod.Post))
{
<div>
    <div>@Html.Label("ParkCode", "Choose your favorite Park")</div>
    <div>@Html.DropDownListFor(m => m.ParkCode, pm.SelectParkList())</div>
</div>
<div>
    <div>@Html.Label("Email", "Email Address")</div>
    <div>@Html.TextBoxFor(m => m.Email)</div>
</div>
<div>
    <div>@Html.Label("State", "Your state of residence")</div>
    <div>@Html.TextBoxFor(m => m.State)</div>
</div>
<div>
    <div>@Html.Label("ActivityLevel", "Your activity level")</div>
    <div>@Html.DropDownListFor(m => m.ActivityLevel, sm.SelectActivityLevel)</div>
</div>
    <button class="survey_submit text-center btn btn-outline-info" id="navbtn">Submit</button>
}
