﻿/*Main*/

header {
    margin-top: 2%
}

body {
    background: url('National-Park.jpg') no-repeat;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
}

.mainphoto {
    height: 70%;
    width: 70%;
}

/*Layout*/

.explore {
    margin: auto;
    color: white;
    background-color: rgba(192,192,192,0.8);
    border-radius: 10px;
    padding: 2%;
}

#explore {
    margin-left: -10%;
}

.main_body {
    background-color: rgba(255,128,000,0.3);
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 3%;
    color: white;
    font-weight: 500;
}

.link {
    display: inline-block;
    text-decoration: none;
}

    .link:hover {
        text-decoration: none;
    }

.btn {
    margin-bottom: 3%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 10%;
    margin-left: 0%;
}

/*Survey*/

.survey_submit {
    margin-top: 2%;
}

/*Survey Page and Layout*/

#navbtn {
    background-color: #17a2b8;
    color: white;
    margin-top: 4%;
}

    #navbtn:hover {
        color: white;
        background-color: black;
    }

/*Index Page*/

.home_row {
    margin-bottom: 4%;
}

.bold {
    font-weight: 900;
}

.state {
    font-weight: 800;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*Detail*/
.weather{
    margin-top: 4%;
    padding-top:4%;
    padding-left:13%;
}
.weather_image{
    border-radius:10px;
}
.ForC{
    position:relative;
    bottom: 300px;
}
#name{
    font-weight:bold;
    margin-bottom:3%;
}
#description{
    margin-bottom:3%;
    margin-top:3%;
}
#quote_source{
    margin-bottom:5%;
}
#park_img{
    margin-top:12%;
}
/*Favorites Page Index Page and Detail Page*/

.park_image {
    border-radius: 10px;
}

/*Favorite Parks Page*/

.fav_name{
    margin-bottom:2%;
    margin-top:13%;
}

.img_row {
    margin-bottom: 2%;
    margin-top:2%;
}